body {
  font-family: Arial, Helvetica, sans-serif;
}

.loader-men-section {
  display: grid;
  justify-content: center;
  margin-top: 100px;
}

.loader-men-jacket {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #106f77;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: circle 1.5s infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.product-detail-section-one {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.productDetailContainer {
  width: 400px;
}

.product-image-details {
  margin-top: 25px;
  width: 400px;
  cursor: zoom-in;
}

.product-info-container {
  width: 400px;
}

.h1-and-in-stock-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}
h1 {
  margin-bottom: 0px;
}
.product-in-stock {
  font-weight: bold;
  margin-top: 24px;
  font-size: 20px;
  margin-bottom: 0px;
}

.product-price-details {
  margin-bottom: 30px;
  margin-top: 30px;
}

.product-description-details {
  margin-top: 40px;
}

.product-add-to-cart {
  width: 300px;
  height: 30px;
  padding-top: 10px;
  text-align: center;
  border-radius: 20px;
  border-style: none;
  background-color: #106f77;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

#size-select {
  width: 300px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.product-cta-section {
  display: grid;
  justify-content: center;
  margin-top: 100px;
}

.cta-button-proceed {
  border-radius: 20px;
  border-style: none;
  width: 350px;
  height: 30px;
  padding-top: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: #106f77;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: center;
}

.cta-button-go-back {
  border-radius: 20px;
  border-style: none;
  width: 350px;
  height: 30px;
  padding-top: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: red;
  cursor: pointer;
  text-align: center;
}

.shopping-cart-product-container {
  display: flex;
  justify-content: space-between;
  margin: 2px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-style: solid;
  border-width: 1px;
  padding-left: 2px;
  padding-right: 5px;
}

.shopping-cart-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.total-items {
  text-align: center;
  margin-top: 10px;
  color: black;
}

.image-modal-container {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 4;
  cursor: zoom-out;
}

.modal-image-center {
  display: flex;
  justify-content: center;
  padding-top: 110px;
}

.modal-image {
  cursor: default;
  width: 600px;
}
