body {
  font-family: Arial, Helvetica, sans-serif;
}

.loader-men-jacket {
  text-align: center;
}

.product-detail-section-one {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.productDetailContainer {
  width: 400px;
}

.product-image-details {
  margin-top: 25px;
  width: 400px;
}

.product-info-container {
  width: 400px;
}

.h1-and-in-stock-container {
  display: flex;
  justify-content: space-between;
}

.product-in-stock {
  font-weight: bold;
  margin-top: 24px;
  font-size: 20px;
}

.product-description-details {
  margin-top: 40px;
}

.product-add-to-cart {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  border-style: none;
  background-color: #106f77;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

.product-cta-section {
  margin-top: 100px;
  text-align: center;
}

#size-select {
  width: 300px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.cta-button-proceed {
  border-radius: 20px;
  border-style: none;
  width: 350px;
  height: 40px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: #106f77;
  margin-bottom: 5px;
  cursor: pointer;
}

.cta-button-go-back {
  border-radius: 20px;
  border-style: none;
  width: 350px;
  height: 40px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: red;
  cursor: pointer;
}

.shopping-cart-product-container {
  display: flex;
  justify-content: space-between;
  margin: 2px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-style: solid;
  border-width: 1px;
  padding-left: 2px;
  padding-right: 5px;
}

.shopping-cart-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
