.men-nav-underline {
  text-decoration: underline;
}

.loader-men-jacket {
  text-align: center;
  color: white;
}

.product-container-men-jacket {
  color: white;
  justify-content: center;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 200px 200px 10px;
  gap: 185px;
  margin-right: 150px;
}

.images-men-jacket:hover {
  width: 280px;
}

.name-and-price-flex-men-jacket {
  display: flex;
  justify-content: space-between;
  width: 255px;
  margin-top: 0px;
  font-weight: bold;
}

.name-men-jacket {
  margin-bottom: 0px;
  margin-top: 10px;
  font-weight: bold;
}

.price-men-jacket {
  font-weight: bold;
  justify-items: end;
  text-align: left;
}
