
body {
    margin: 0px;
}

.logo {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

.background {
    background-image: url('../images/images/background.jpg');
    background-repeat: no-repeat;
}

.home-h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: #ffff;    
}

.home-text {
    margin: auto auto;
    width: 540px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
    color: #ffff;
}

.product-container {
    text-align: center;
    margin: 50px auto 0px auto;
}

.product-item, .product-cta {
    margin: 5px;
}

.cta-container-home {
    text-align: center; 
    margin-top: 40px;
}

.container-men {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
}

.product-container-men {
    display: inline-block;
    margin: 10px 10px;
}

.logg-inn-h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    text-align: center;
}

.forgot-password-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

nav {
    background-color: #106F77;
}

ul {
    font-family: arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: auto;
    margin-top: 0px;
}

li {
    display: inline-block;
    margin-left: 165px;
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #ffff;
}

nav a:hover {
    text-decoration: underline;
}

.name, .lastname, .email, .password, .confirm-password {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.forgot-password {
    font-size: 11px;
    padding: 0px;
    color: #8D8D8D;
}


input {
    display: block;
}












