
.logo { 
    text-align: center;
    margin-bottom: 50px;
}

.background {
    background-image: url('../images/images/background.jpg');
    background-repeat: no-repeat;
}

.home-h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: #ffff;
}

.home-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
    color: #ffff;
}

.product-link {
    text-align: center;
}

.logg-inn-h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    text-align: center;
}

.forgot-password-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.main-navigation {
    background-image: url('../images/images/top\ line.jpg');
}

nav ul {
    font-family: arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: -8px;
    margin-left: 150px;
}

nav li {
    display: inline-block;
    padding: 15px;
}

nav a {
    text-decoration: none;
    margin-right: px;
    padding-left: 100px;
    color: #ffff;
}

nav a:hover {
    text-decoration: underline;
}

.name, .lastname, .email, .password, .confirm-password {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

.forgot-password {
    font-size: 11px;
    padding: 0px;
    color: #8D8D8D;
}


input {
    display: block;
}












